{% extends "master.njk" %}
{% block main %}

  <div class="container my-4 narrow">
    <div class="bg-white shadow rounded p-4">
      <h1 class="fs-4">{{ job.title }}</h1>
      <hr>
      <p>{{ job.description }}</p>
      <ul class="fa-ul ms-4">
        <li class="mb-3">
          <span class="fa-li">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          Ciudad:
          {{ job.city }}
        </li>
        <li class="mb-3">
          <span class="fa-li">
            <i class="fas fa-building"></i>
          </span>
          Empresa:
          {{ job.company }}
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-envelope-open-text"></i>
          </span>
          E-mail de postulación:
          <a href="">{{ job.applyEmail }}</a>

        </li>
      </ul>
    </div>

  </div>

{% endblock %}